.sci-footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: cyan;
    font-family: "Orbitron", sans-serif;
    margin-top: 50px;
  }
  
  .sf-line {
    width: 100%;
    height: 2px;
    background: cyan;
    box-shadow: 0 0 8px cyan;
    margin-bottom: 10px;
  }
  
  .sf-text {
    opacity: 0.8;
    letter-spacing: 1px;
  }
  